* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

html,
body {
  height: 100dvh;
  overflow: hidden;
}

.grid-template {
  height: 100dvh;
  display: grid;
  grid-template-columns: 60px 460px 1fr;
  grid-template-rows: auto 1fr;
}

nav {
  grid-row: 1 / -1;
  background-color: #f7f5f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.superior {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.superior > img {
  border-radius: 100%;
  padding: 7px;
  width: 40px;
  height: 40px;
}

.superior > img:hover {
  background-color: #ebe7e5;
}

section {
  grid-row: 1 / -1;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.section-superior {
  height: 25%;
  width: 460px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.titulo-settings {
  display: flex;
  justify-content: space-between;
}
.titulo-settings > p {
  font-size: xx-large;
  color: #1caa61;
  font-weight: bold;
  height: 45px;
}

.titulo-settings > .settings {
  display: flex;
  align-items: start;
  height: 50px;
  align-items: center;
  gap: 10px;
}

.section-superior > .titulo-settings > .settings > img {
  border-radius: 100%;
  padding: 7px;
  width: 40px;
}
.section-superior > .titulo-settings > .settings > img:hover {
  background-color: #ebe7e5;
}

.section-superior > .inputado {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-superior > .inputado > input {
  height: 50px;
  width: 100%;
  border-radius: 50px;
  background-color: #f6f5f4;
  padding: 15px;
  outline: none;
  border: none;
}

.section-superior > .inputado > input::placeholder {
  font-weight: 400;
}

.section-superior > .inputado > input:focus {
  border: 2px solid #1caa61;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.botoes > .texto-botao {
  padding: 10px;
  border-radius: 50px;
  white-space: normal;
}

.botoes > .texto-botao:hover {
  background-color: #d9fdd3;
}

.active {
  background-color: #d9fdd3;
}

.section-inferior {
  width: 100%;
  height: 75%;
  overflow-y: auto;
}

article {
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "foto-perfil nome horas"
    "foto-perfil mensagem pingo";

  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: repeat(2, 1fr);

  padding: 10px;
}

article:hover {
  background-color: #f6f5f4;
}

.foto-perfil {
  display: flex;
  grid-area: foto-perfil;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.nome {
  grid-area: nome;
}

.horas {
  grid-area: horas;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #32a961;
}

.mensagem {
  grid-area: mensagem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pingo {
  grid-area: pingo;
  background-color: #32a961;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  color: white;
}

header {
  grid-column: 3;
  grid-row: 1;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #d0d4da;
  justify-content: space-between;
}

.foto-nome {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 20px;
}
main > .foto-nome > img,
header > .foto-nome > img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.config {
  display: flex;
  width: 150px;
}

.config > img {
  width: 30px;
  height: 30px;
}
.juntinho {
  display: flex;
  width: 100px;
}

main {
  grid-column: 3;
  grid-row: 2;
  background-image: url(../imgs/whatsapp_bg.png);
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  overflow-y: auto;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 100px;
  height: 100%;
  align-content: safe end;
}

.mandar-message {
  grid-column: 1 / 36;
  display: flex;
  align-items: center;
  width: 1350px;
  background-color: #ffffff;
  height: 50px;
  border-radius: 50px;
  align-self: end;
  margin: 20px;
  position: absolute;
}

.mandar-message > img {
  width: 30px;
  height: 30px;
  padding: 5px;
}
.plus {
  display: flex;
  width: 80px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fundo-falso {
  grid-column: 1 / 36;
  width: 1400px;
  height: 80px;
  align-self: end;
  position: absolute;
  background-image: url(../imgs/whatsapp_bg.png);
  z-index: 1000;
  bottom: 0;
}

.mandar-message > input {
  width: 1230px;
  height: 30px;
  border-radius: 50px;
  border: none;
  outline: none;
}

.send {
  width: 70px;
  height: 70px;
}

.mensagem-enviada,
.mensagem-recebida {
  border-radius: 5px;
  padding: 6px 8px;
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  display: flex;
  gap: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}

.mensagem-enviada {
  grid-column: 15 / 35;
  background-color: #d8f8d2;
  margin-left: auto;
}

.mensagem-recebida {
  grid-column: 3 / 23;
  background-color: #ffffff;
}
.perninha-direita {
  border-bottom: 10px solid #d8f8d2;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: 0px;
  right: -9px;
  rotate: 180deg;
}
.perninha-esquerda {
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: 0px;
  left: -9px;
  rotate: 180deg;
}

.horas-mensagens {
  font-size: 0.75rem;
  color: #666;
  white-space: nowrap;
  margin-bottom: auto;
  align-self: flex-end;
}
