* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.grid-template {
  height: 100dvh;
  display: grid;
  grid-template-columns: 60px 1fr 2fr;
  grid-template-rows: 1fr;
}

nav {
  background-color: #f7f5f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.superior {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.superior > img {
  /* background-color: orange; */
  border-radius: 100%;
  padding: 7px;
  width: 40px;
}

.superior > img:hover {
  background-color: #d8f8d2;
}

section {
  background-color: blanchedalmond;
}

main {
  background-color: wheat;
}
