* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.grid-template {
  height: 100dvh;
  display: grid;
  grid-template-columns: 60px 460px 1fr;
  grid-template-rows: 1fr;
}

nav {
  background-color: #f7f5f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.superior {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.superior > img {
  /* background-color: orange; */
  border-radius: 100%;
  padding: 7px;
  width: 40px;
  height: 40px;
}

.superior > img:hover {
  background-color: #ebe7e5;
}

section {
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.section-superior {
  height: 25%;
  width: 460px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
  background-color: white;
  position: fixed;
}

.titulo-settings {
  display: flex;
  justify-content: space-between;
}
.titulo-settings > p {
  font-size: xx-large;
  color: #1caa61;
  font-weight: bold;
  height: 45px;
}

.titulo-settings > .settings {
  display: flex;
  align-items: start;
  height: 50px;
  align-items: center;
  gap: 10px;
}

.section-superior > .titulo-settings > .settings > img {
  /* background-color: orange; */
  border-radius: 100%;
  padding: 7px;
  width: 40px;
}
.section-superior > .titulo-settings > .settings > img:hover {
  background-color: #ebe7e5;
}

.section-superior > .inputado {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-superior > .inputado > input {
  height: 50px;
  width: 100%;
  border-radius: 50px;
  background-color: #f6f5f4;
  padding: 15px;
  outline: none;
  border: none;
}

.section-superior > .inputado > input::placeholder {
  font-weight: 400;
}

.section-superior > .inputado > input:focus {
  border: 2px solid #1caa61;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.botoes > .texto-botao {
  padding: 10px;
  border-radius: 50px;
  white-space: normal;
}

.botoes > .texto-botao:hover {
  background-color: #d9fdd3;
}

.active {
  background-color: #d9fdd3;
}
.section-inferior {
  width: 100%;
  height: 75%;
  margin-top: 230.5px;
  overflow-y: scroll;
}

article {
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "foto-perfil nome horas"
    "foto-perfil mensagem pingo";

  grid-template-columns: 60px 1fr 60px;
  grid-template-rows: repeat(2, 1fr);

  padding: 10px;
}

article:hover {
  background-color: #f6f5f4;
}

.foto-perfil {
  display: flex;
  grid-area: foto-perfil;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.nome {
  grid-area: nome;
}

.horas {
  grid-area: horas;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #32a961;
}

.mensagem {
  grid-area: mensagem;
  white-space: nowrap; /* Garante que o texto fique em uma única linha */
  overflow: hidden; /* Esconde o texto que passar do limite */
  text-overflow: ellipsis; /* Adiciona os "..." automaticamente no final */
}

.pingo {
  grid-area: pingo;

  background-color: #32a961;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  color: white;
}

main {
  background-color: wheat;
}
