* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.grid-template {
  height: 100dvh;
  display: grid;
  grid-template-columns: 60px 1fr 2fr;
  grid-template-rows: 1fr;
}

nav {
  background-color: #f7f5f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.superior {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.superior > img {
  /* background-color: orange; */
  border-radius: 100%;
  padding: 7px;
  width: 40px;
}

.superior > img:hover {
  background-color: #ebe7e5;
}

section {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.section-superior {
  height: 20%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
  background-color: white;
  position: sticky;
}

.titulo-settings {
  display: flex;
  justify-content: space-between;
}
.titulo-settings > p {
  font-size: xx-large;
  color: #1caa61;
  font-weight: bold;
  height: 45px;
}

.titulo-settings > .settings {
  display: flex;
  align-items: start;
  height: 50px;
  align-items: center;
  gap: 10px;
}

.section-superior > .titulo-settings > .settings > img {
  /* background-color: orange; */
  border-radius: 100%;
  padding: 7px;
  width: 40px;
}

.section-superior > .inputado {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-superior > .inputado > input {
  height: 50px;
  width: 85%;
  border-radius: 50px;
  background-color: #f6f5f4;
  padding: 15px;
  outline: none;
  border: none;
}

.section-superior > .inputado > input::placeholder {
  font-weight: 400;
}

input:focus {
  border: 2px solid #1caa61;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-right: 85px;
}

.botoes > .texto-botao {
  padding: 10px;
  border-radius: 50px;
}

.botoes > .texto-botao:hover {
  background-color: #d9fdd3;
}

.active {
  background-color: #d9fdd3;
}
.section.inferior {
  width: 100%;
  height: 80%;
}

main {
  background-color: wheat;
}
